* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100svh;
}

#thumb-container {
  /* position: absolute; */
  /* top: 10%;
  left: 25%; */
  /*  */
  overflow-x: auto;
  white-space: nowrap;
  flex-shrink: 0;
  /* Hide scrollbar in various browsers */
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  /*  */
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 80svw;
  margin-left: 10svw;
  opacity: 0.7;
  border: 2px solid goldenrod;
}

#thumb-container::-webkit-scrollbar {
  display: none;
}
.thumb-img {
  flex-shrink: 0;
}
.thumb-img img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  min-width: 50px;
}
#display-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
  /* TODO: Make sure this is working as expected!!! */
  /* overflow-x: hidden; */
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* End of TODO */
}

#display-container picture {
  display: flex;
}

#display-container picture img {
  height: auto;
}

#button-wrapper {
  /* position: absolute; */
  /* top: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 30svh;
  margin-left: 5svw;
}

#click-left {
  height: 25px;
  width: 25px;
  background-image: url("https://img.icons8.com/ios-filled/50/circled-left-2.png");
  background-size: cover;
  background-position: center;
  border: none;
}

#click-left:hover {
  background-image: url("https://img.icons8.com/ios-filled/50/FCC419/circled-left-2.png");
}

#click-right {
  height: 25px;
  width: 25px;
  background-image: url("https://img.icons8.com/ios-filled/50/circled-right-2.png");
  background-size: cover;
  background-position: center;
  border: none;
}

#click-right:hover {
  background-image: url("https://img.icons8.com/ios-filled/50/FCC419/circled-right-2.png");
}

@media only screen and (max-width: 768px) {
  #thumb-container {
    bottom: 5px;
    left: 10%;
  }

  .thumb-img img {
    max-width: 100px;
  }
}

@media (pointer: coarse) {
  #click-right,
  #click-left {
    padding: 20px;
  }
}
